header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--rtc-gap-l);
  padding-top: 200px;
  margin: var(--rtc-margin-l);
  text-align: center;
  font-size: 20px;
}

.divButtons{
  display: flex;
  gap: var(--rtc-gap-xs);
  justify-content: space-around;
  align-items: center;
}
.buttonPpal{
  padding: var(--rtc-padding-s);
  background-color: var(--rtc-color-1);
  border: 1px solid var(--rtc-color-2);
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.3s ease;
  color: var(--rtc-color-3);
  width: 160px;
}

.buttonPpal:hover{
  transform: scale(1.1);
  background-color: var(--rtc-color-2);
}

@media (max-width: 500px){
  .buttonPpal{
    padding: var(--rtc-padding-xs);
    font-size: 12px;
    width: 100px;
  }
}

@media (max-width: 400px){
  header{
    font-size: 15px;
  }
  .divButtons{
    display: flex;
    gap: var(--rtc-gap-s);
    min-width: 200px;
  }
}